.dashboard-wrapper {
  width: 100%;

  h6 {
    height: fit-content;
    width: 100%;
    padding-top: 0.5em;
    margin-bottom: 1em;
    opacity: 0.6;
  }

  .dash-cards-wrapper {
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 5px;

    .dash-cards {
      width: 13em;
      height: 7em;
      padding: 1em;
      text-align: center;
      background-color: #fbfbfb;
      box-shadow: 1px 1px 3px 1px #e9e9e9;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      svg {
        stroke: #1796d3;
        fill: #1796d3;
        width: 2em;
        height: 2.2em;
        position: absolute;
        top: 3%;
        right: 3%;
      }

      h6 {
        margin-bottom: 0.6em;
      }
      h4 {
        font-variant-numeric: tabular-nums;
      }
    }
  }

  .charts-wrapper {
    .line-chart-wrapper {
      border: 1px solid #e0e0e0;
      margin: 1em 0;
      box-sizing: border-box;
      margin-right: 1em;
      width: 65%;
      border-radius: 5px;
      position: relative;

      .chart-header {
        position: absolute;
        left: 2%;
        top: 2%;
      }

      & .MuiAreaElement-root {
        fill: #105472;
      }

      & .MuiChartsAxis-directionY {
        display: none;
      }

      & .MuiChartsAxis-tickLabel {
        opacity: 0.6;
      }
      //for dots
      & .MuiMarkElement-root {
        stroke: #105472;
      }
      //for curve line
      & .MuiLineElement-series-auto-generated-id-0 {
        stroke: #105472;
      }
    }

    .gauge-chart-wrapper {
      border: 1px solid #e0e0e0;
      width: 35%;
      margin: 1em 0;
      padding: 3em;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      position: relative;

      .chart-header {
        position: absolute;
        top: 0%;
        left: 3%;
      }
      & .MuiGauge-valueText {
        text {
          font-weight: 600;
          font-size: 4.8em;
          font-variant-numeric: tabular-nums;
        }
      }

      & .MuiGauge-referenceArc {
        fill: #f0efef;
      }

      & .MuiGauge-valueArc {
        fill: #aa3175;
      }
    }
  }

  .feedback-wrapper-main {
    width: 40%;
    box-shadow: 1px 1px 3px 1px #e9e9e9;
    border-radius: 5px;
    padding: 0 0.5em;
    box-sizing: border-box;
    height: 31em;
    overflow-y: scroll;

    h6 {
      margin-bottom: -0.5em;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      border-radius: 5em;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px #d5ebf94d;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c0c0c022;
      border-radius: 5em;
    }
    .feedback-wrapper {
      height: fit-content;
      padding: 0.25em;
      display: flex;
      gap: 1em;
      box-sizing: border-box;

      .reviewer-image-wrapper {
        box-sizing: border-box;
        margin-top: 1em;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .reviewer-wrapper {
        display: flex;
        max-width: 90%;
        flex-direction: column;

        .reviewer-wrapper-top {
          display: flex;
          align-items: baseline;
          justify-content: space-between;

          .reviewer-header {
            display: flex;
            flex-direction: column;

            h6 {
              margin-bottom: 0.2em;
              opacity: 1;
            }
            svg {
              stroke: #1796d3;
              fill: #1796d3;
            }
          }
          .date-time {
            width: auto;
            color: #346b64;
          }
        }

        .reviwe-details {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
  .fav-food-wrapper {
    width: 60%;
    padding: 1em;
    padding-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #e9e9e9;

    h6 {
      width: 100%;
      margin-bottom: -0.5em;
    }

    table {
      width: 100%;

      thead {
        width: 100%;
        text-align: left;

        tr {
          th {
            padding: 0.5em;
            font-family: inherit;
          }
        }
      }

      tbody {
        width: 100%;
        tr {
          td {
            padding: 0.5em;
            font-variant-numeric: tabular-nums;

            &:nth-child(2) {
              display: flex;
              gap: 0.5em;
              align-items: center;

              span {
                img {
                  border-radius: 50%;
                }
              }
            }

            &:nth-child(3) {
              color: #346b64;
            }

            &:nth-child(4) {
              color: #1796d3;
            }

            &:nth-child(5) {
              color: #aa3175;
            }
          }
        }
      }
    }
  }
}
