*{
  font-family: 'Montserrat', sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-app{
  display:flex;
  gap: 1rem
}


@import './components/navbar/navbar.scss';
@import './components/pages/dashboard/dashboard.scss';